#grid {
  display: grid;
  grid-template-columns: repeat(10, 120px);
  grid-template-rows: repeat(6, 60px);
  gap: 4px;
}
#grid[data-mode="sync"] .pad[data-note="30"]:before  {
    content: '8th ▼'
}
#grid[data-mode="sync"] .pad[data-note="31"]:before  {
    content: '8th ▲'
}
#grid[data-mode="sync"] .pad[data-note="38"]:before  {
    content: 'Sync source'
}
#grid[data-mode="sync"] .pad[data-note="39"]:before  {
    content: 'Sync to'
}

/* //Velocity to RGB Color Chart */
/* //Color Velocity Color Velocity Color Velocity */
.coldesig {
  justify-self: center;
  align-self: end;
  font-family: monospace;
  text-align: center;
}
#grid[mode="1"] .coldesig:before {
  content: 'Rec/Overdub';
}
.trackbtn {
    margin-bottom: 36px;
}
.trackbtn,
.softkey {
  position: relative;
  display: flex;
  justify-content: space-around;
  border: unset;
  background: unset;
}
.softkey:after,
.trackbtn:after {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: calc(100% + 5px);
  text-transform: uppercase;
}
.softkey:after {
  top: calc(100% - 5px);
}
.trackbtn:before,
.softkey:before {
  content: "";
  width: 32px;
  height: 32px;
  align-self: center;
  justify-self: center;
  background: lightgrey;
  border: 2px solid black;
}

.softkey:before {
}
.softkey[data-ledmode="0x96"]:before {
  background: #00ff19;
}
.softkey[data-ledmode="0x96"] {
  opacity: 0.1;
  animation: blink-animation 0.5s steps(5, start) infinite;
  -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes blink-animation {
  to {
    opacity: 0.1;
  }
}

[data-note="64"]:after {
  content: "▲";
}
[data-note="65"]:after {
  content: "▼";
}
[data-note="66"]:after {
  content: "◀";
}
[data-note="67"]:after {
  content: "▶";
}
[data-note="68"]:after {
  content: "volume";
}
[data-note="69"]:after {
  content: "pan";
}
[data-note="70"]:after {
  content: "send";
}
[data-note="71"]:after {
  content: "device";
}
[data-note="81"]:after {
  content: "stop all clips";
}

[data-note="82"]:after {
  content: "clip stop";
}
[data-note="83"]:after {
  content: "solo";
}
[data-note="84"]:after {
  content: "mute";
}
[data-note="85"]:after {
  content: "rec arm";
}
[data-note="86"]:after {
  content: "select";
}
[data-note="98"]:before {
  justify-self: stretch;
  width: 64px;
}
[data-note="98"]:after {
  content: "shift";
}

.pad {
  /* transition: background-color 32ms; */
  border-radius: 2px;
  font-family: monospace;
}
.pad:focus,
.pad:hover {
  box-shadow: 0 0 0px 4px black;
}
.pad[data-ledmode="0x90"] {
  opacity: 0.1;
}
.pad[data-ledmode="0x91"] {
  opacity: 0.25;
}
.pad[data-ledmode="0x92"] {
  opacity: 0.5;
}
.pad[data-ledmode="0x93"] {
  opacity: 0.65;
}
.pad[data-ledmode="0x94"] {
  opacity: 0.75;
}
.pad[data-ledmode="0x95"] {
  opacity: 0.9;
}
.pad[data-ledmode="0x96"] {
  opacity: 1;
}

/* LED_PULSING_16 = 0x97, */
/* LED_PULSING_8 = 0x98, */
/* LED_PULSING_4 = 0x99, */
/* LED_PULSING_2 = 0x9a, */
/* LED_BLINKING_24 = 0x9b, */
/* LED_BLINKING_16 = 0x9c, */
/* LED_BLINKING_8 = 0x9d, */
/* LED_BLINKING_4 = 0x9e, */
/* LED_BLINKING_2 = 0x9f; */

.pad[data-color="0"] {
  background-color: #000000;
}
.pad[data-color="19"] {
  background-color: #142b00;
}
.pad[data-color="38"] {
  background-color: #004152;
}
.pad[data-color="1"] {
  background-color: #1e1e1e;
}
.pad[data-color="20"] {
  background-color: #4cff4c;
}
.pad[data-color="39"] {
  background-color: #001019;
}

.pad[data-color="2"] {
  background-color: #7f7f7f;
}
.pad[data-color="21"] {
  background-color: #00ff00;
}
.pad[data-color="40"] {
  background-color: #4c88ff;
}

.pad[data-color="3"] {
  background-color: #ffffff;
}
.pad[data-color="22"] {
  background-color: #005900;
}
.pad[data-color="41"] {
  background-color: #0055ff;
}

.pad[data-color="4"] {
  background-color: #ff4c4c;
}
.pad[data-color="23"] {
  background-color: #001900;
}
.pad[data-color="42"] {
  background-color: #001d59;
}

.pad[data-color="5"] {
  background-color: #ff0000;
}
.pad[data-color="24"] {
  background-color: #4cff5e;
}
.pad[data-color="43"] {
  background-color: #000819;
}

.pad[data-color="6"] {
  background-color: #590000;
}
.pad[data-color="25"] {
  background-color: #00ff19;
}
.pad[data-color="44"] {
  background-color: #4c4cff;
}
.pad[data-color="7"] {
  background-color: #190000;
}
.pad[data-color="26"] {
  background-color: #00590d;
}
.pad[data-color="45"] {
  background-color: #0000ff;
}

.pad[data-color="8"] {
  background-color: #ffbd6c;
}
.pad[data-color="27"] {
  background-color: #001902;
}
.pad[data-color="46"] {
  background-color: #000059;
}

.pad[data-color="9"] {
  background-color: #ff5400;
}
.pad[data-color="28"] {
  background-color: #4cff88;
}
.pad[data-color="47"] {
  background-color: #000019;
}

.pad[data-color="10"] {
  background-color: #591d00;
}
.pad[data-color="29"] {
  background-color: #00ff55;
}
.pad[data-color="48"] {
  background-color: #874cff;
}

.pad[data-color="11"] {
  background-color: #271b00;
}
.pad[data-color="30"] {
  background-color: #00591d;
}
.pad[data-color="49"] {
  background-color: #5400ff;
}

.pad[data-color="12"] {
  background-color: #ffff4c;
}
.pad[data-color="31"] {
  background-color: #001f12;
}
.pad[data-color="50"] {
  background-color: #190064;
}

.pad[data-color="13"] {
  background-color: #ffff00;
}
.pad[data-color="32"] {
  background-color: #4cffb7;
}
.pad[data-color="51"] {
  background-color: #0f0030;
}

.pad[data-color="14"] {
  background-color: #595900;
}
.pad[data-color="33"] {
  background-color: #00ff99;
}
.pad[data-color="52"] {
  background-color: #ff4cff;
}

.pad[data-color="15"] {
  background-color: #191900;
}
.pad[data-color="34"] {
  background-color: #005935;
}
.pad[data-color="53"] {
  background-color: #ff00ff;
}

.pad[data-color="16"] {
  background-color: #88ff4c;
}
.pad[data-color="35"] {
  background-color: #001912;
}
.pad[data-color="54"] {
  background-color: #590059;
}

.pad[data-color="17"] {
  background-color: #54ff00;
}
.pad[data-color="36"] {
  background-color: #4cc3ff;
}
.pad[data-color="55"] {
  background-color: #190019;
}

.pad[data-color="18"] {
  background-color: #1d5900;
}
.pad[data-color="37"] {
  background-color: #00a9ff;
}
.pad[data-color="56"] {
  background-color: #ff4c87;
}

.pad[data-color="57"] {
  background-color: #ff0054;
}
.pad[data-color="85"] {
  background-color: #88e106;
}
.pad[data-color="113"] {
  background-color: #dcff6b;
}

.pad[data-color="58"] {
  background-color: #59001d;
}
.pad[data-color="86"] {
  background-color: #72ff15;
}
.pad[data-color="114"] {
  background-color: #80ffbd;
}

.pad[data-color="59"] {
  background-color: #220013;
}
.pad[data-color="87"] {
  background-color: #00ff00;
}
.pad[data-color="115"] {
  background-color: #9a99ff;
}

.pad[data-color="60"] {
  background-color: #ff1500;
}
.pad[data-color="88"] {
  background-color: #3bff26;
}
.pad[data-color="116"] {
  background-color: #8e66ff;
}
.pad[data-color="61"] {
  background-color: #993500;
}
.pad[data-color="89"] {
  background-color: #59ff71;
}
.pad[data-color="117"] {
  background-color: #404040;
}
.pad[data-color="62"] {
  background-color: #795100;
}
.pad[data-color="90"] {
  background-color: #38ffcc;
}
.pad[data-color="118"] {
  background-color: #757575;
}
.pad[data-color="63"] {
  background-color: #436400;
}
.pad[data-color="91"] {
  background-color: #5b8aff;
}
.pad[data-color="119"] {
  background-color: #e0ffff;
}
.pad[data-color="64"] {
  background-color: #033900;
}
.pad[data-color="92"] {
  background-color: #3151c6;
}
.pad[data-color="120"] {
  background-color: #a00000;
}
.pad[data-color="65"] {
  background-color: #005735;
}
.pad[data-color="93"] {
  background-color: #877fe9;
}
.pad[data-color="121"] {
  background-color: #350000;
}
.pad[data-color="66"] {
  background-color: #00547f;
}
.pad[data-color="94"] {
  background-color: #d31dff;
}
.pad[data-color="122"] {
  background-color: #1ad000;
}
.pad[data-color="67"] {
  background-color: #0000ff;
}
.pad[data-color="95"] {
  background-color: #ff005d;
}
.pad[data-color="123"] {
  background-color: #074200;
}
.pad[data-color="68"] {
  background-color: #00454f;
}
.pad[data-color="96"] {
  background-color: #ff7f00;
}
.pad[data-color="124"] {
  background-color: #b9b000;
}
.pad[data-color="69"] {
  background-color: #2500cc;
}
.pad[data-color="97"] {
  background-color: #b9b000;
}
.pad[data-color="125"] {
  background-color: #3f3100;
}
.pad[data-color="70"] {
  background-color: #7f7f7f;
}
.pad[data-color="98"] {
  background-color: #90ff00;
}
.pad[data-color="126"] {
  background-color: #b35f00;
}
.pad[data-color="71"] {
  background-color: #202020;
}
.pad[data-color="99"] {
  background-color: #835d07;
}
.pad[data-color="127"] {
  background-color: #4b1502;
}
.pad[data-color="72"] {
  background-color: #ff0000;
}
.pad[data-color="100"] {
  background-color: #392b00;
}
.pad[data-color="117"] {
  background-color: #404040;
}
.pad[data-color="73"] {
  background-color: #bdff2d;
}
.pad[data-color="101"] {
  background-color: #144c10;
}
.pad[data-color="118"] {
  background-color: #757575;
}
.pad[data-color="74"] {
  background-color: #afed06;
}
.pad[data-color="102"] {
  background-color: #0d5038;
}
.pad[data-color="119"] {
  background-color: #e0ffff;
}
.pad[data-color="75"] {
  background-color: #64ff09;
}
.pad[data-color="103"] {
  background-color: #15152a;
}
.pad[data-color="120"] {
  background-color: #a00000;
}
.pad[data-color="76"] {
  background-color: #108b00;
}
.pad[data-color="104"] {
  background-color: #16205a;
}
.pad[data-color="121"] {
  background-color: #350000;
}
.pad[data-color="77"] {
  background-color: #00ff87;
}
.pad[data-color="105"] {
  background-color: #693c1c;
}
.pad[data-color="122"] {
  background-color: #1ad000;
}
.pad[data-color="78"] {
  background-color: #00a9ff;
}
.pad[data-color="106"] {
  background-color: #a8000a;
}
.pad[data-color="123"] {
  background-color: #074200;
}
.pad[data-color="79"] {
  background-color: #002aff;
}
.pad[data-color="107"] {
  background-color: #de513d;
}
.pad[data-color="124"] {
  background-color: #b9b000;
}
.pad[data-color="80"] {
  background-color: #3f00ff;
}
.pad[data-color="108"] {
  background-color: #d86a1c;
}
.pad[data-color="125"] {
  background-color: #3f3100;
}
.pad[data-color="81"] {
  background-color: #7a00ff;
}
.pad[data-color="109"] {
  background-color: #ffe126;
}
.pad[data-color="126"] {
  background-color: #b35f00;
}
.pad[data-color="82"] {
  background-color: #b21a7d;
}
.pad[data-color="110"] {
  background-color: #9ee12f;
}
.pad[data-color="127"] {
  background-color: #4b1502;
}
.pad[data-color="83"] {
  background-color: #402100;
}
.pad[data-color="111"] {
  background-color: #67b50f;
}
.pad[data-color="84"] {
  background-color: #ff4a00;
}
.pad[data-color="112"] {
  background-color: #1e1e30;
}

/* //Velocity to RGB Color Chart */
/* //Color Velocity Color Velocity Color Velocity */
/* #000000 0 #142B00 19 #004152 38 */
/* #1E1E1E 1 #4CFF4C 20 #001019 39 */
/* #7F7F7F 2 #00FF00 21 #4C88FF 40 */
/* #FFFFFF 3 #005900 22 #0055FF 41 */
/* #FF4C4C 4 #001900 23 #001D59 42 */
/* #FF0000 5 #4CFF5E 24 #000819 43 */
/* #590000 6 #00FF19 25 #4C4CFF 44 */
/* #190000 7 #00590D 26 #0000FF 45 */
/* #FFBD6C 8 #001902 27 #000059 46 */
/* #FF5400 9 #4CFF88 28 #000019 47 */
/* #591D00 10 #00FF55 29 #874CFF 48 */
/* #271B00 11 #00591D 30 #5400FF 49 */
/* #FFFF4C 12 #001F12 31 #190064 50 */
/* #FFFF00 13 #4CFFB7 32 #0F0030 51 */
/* #595900 14 #00FF99 33 #FF4CFF 52 */
/* #191900 15 #005935 34 #FF00FF 53 */
/* #88FF4C 16 #001912 35 #590059 54 */
/* #54FF00 17 #4CC3FF 36 #190019 55 */
/* #1D5900 18 #00A9FF 37 #FF4C87 56 */
/* 5 */
/* Color Velocity Color Velocity Color Velocity */
/* #FF0054 57 #88E106 85 #DCFF6B 113 */
/* #59001D 58 #72FF15 86 #80FFBD 114 */
/* #220013 59 #00FF00 87 #9A99FF 115 */
/* #FF1500 60 #3BFF26 88 #8E66FF 116 */
/* #993500 61 #59FF71 89 #404040 117 */
/* #795100 62 #38FFCC 90 #757575 118 */
/* #436400 63 #5B8AFF 91 #E0FFFF 119 */
/* #033900 64 #3151C6 92 #A00000 120 */
/* #005735 65 #877FE9 93 #350000 121 */
/* #00547F 66 #D31DFF 94 #1AD000 122 */
/* #0000FF 67 #FF005D 95 #074200 123 */
/* #00454F 68 #FF7F00 96 #B9B000 124 */
/* #2500CC 69 #B9B000 97 #3F3100 125 */
/* #7F7F7F 70 #90FF00 98 #B35F00 126 */
/* #202020 71 #835D07 99 #4B1502 127 */
/* #FF0000 72 #392b00 100 #404040 117 */
/* #BDFF2D 73 #144C10 101 #757575 118 */
/* #AFED06 74 #0D5038 102 #E0FFFF 119 */
/* #64FF09 75 #15152A 103 #A00000 120 */
/* #108B00 76 #16205A 104 #350000 121 */
/* #00FF87 77 #693C1C 105 #1AD000 122 */
/* #00A9FF 78 #A8000A 106 #074200 123 */
/* #002AFF 79 #DE513D 107 #B9B000 124 */
/* #3F00FF 80 #D86A1C 108 #3F3100 125 */
/* #7A00FF 81 #FFE126 109 #B35F00 126 */
/* #B21A7D 82 #9EE12F 110 #4B1502 127 */
/* #402100 83 #67B50F 111 */
/* #FF4A00 84 #1E1E30 112 */
